<h1>Horizon Plot</h1>
<div class="container">
  <mat-form-field appearance="fill">
    <mat-label>Years</mat-label>
    <mat-select [(ngModel)]="selectedYears" (ngModelChange)="changeYears()" multiple>
      <mat-option *ngFor="let year of yearsList; let i = index" [value]="i">{{year}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="container">
    <mat-form-field appearance="fill" *ngFor="let year of yearsListRaces; let i = index" style="margin-right: 10px">
      <mat-label>Races {{year.name}}</mat-label>
      <mat-select [(ngModel)]="raceday[i]" (ngModelChange)="shift(i, year.name)">
        <mat-option *ngFor="let race of year.values" [value]="race.date">
          {{race.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
</div>
<div>
  <mat-form-field appearance="fill">
    <mat-label>Values</mat-label>
    <mat-select  [(ngModel)]="selected" (ngModelChange)="changeSelect()">
      <mat-option *ngFor="let val of ff" [value]="val.value">
        {{val.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="container">
  <span class="legend-colorBox" style="background-color: #fc670d;"></span><span class="Legend-label">Transitional Zone</span>
  <span class="legend-colorBox" style="background-color: #1795ef;"></span><span class="Legend-label">Freshness Zone</span>
  <span class="legend-colorBox" style="background-color: #949494;"></span><span class="Legend-label">Grey Zone</span>
  <span class="legend-colorBox" style="background-color: #52b254;"></span><span class="Legend-label">Optimal Training Zone</span>
  <span class="legend-colorBox" style="background-color: #ef1717;"></span><span class="Legend-label">High Risk Zone</span>
</div>
<svg id="horizon"></svg>

