<input #fileUpload [accept]="'.csv'" type="file" class="file-input"
       (change)="importDataFromCSV($event)" hidden="true">
<button mat-raised-button color="primary" (click)="fileUpload.click()"> Import from csv</button>
<div *ngIf="data">
  <mat-form-field style="width: 80%;">
    <mat-label>Search</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="..." #input>
  </mat-form-field>
</div>
<div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="data">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element"> <a href="https://www.strava.com/activities/{{element.ActivityID}}" target="_blank">{{element.ActivityID}}</a></td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Date MM/DD/YYYY </th>
    <td mat-cell *matCellDef="let element"> {{element.ActivityDate.getMonth() + 1 + "/" + element.ActivityDate.getDate() + "/" + element.ActivityDate.getFullYear()}} </td>
  </ng-container>


  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.ActivityName}} </td>
  </ng-container>

    <ng-container matColumnDef="race">
      <th mat-header-cell *matHeaderCellDef> Race? </th>
      <td mat-cell *matCellDef="let element">
        <section class="example-section">
          <mat-checkbox [(ngModel)]="element.israce" (ngModelChange)="updateData(element)" class="example-margin">Race</mat-checkbox>
        </section>
      </td>
    </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching</td>
    </tr>

</table>
</div>
