<h1>Calendar Heatmap</h1>
<div class="container">
<button mat-mini-fab color="primary" (click)="prevYear()">
  <mat-icon>arrow_back</mat-icon>
</button>
<h1 class="year">{{getYear()}}</h1>
<button mat-mini-fab color="primary" (click)="nextYear()">
  <mat-icon>arrow_forward</mat-icon>
</button>
</div>
<mat-form-field appearance="fill">
  <mat-label>Metrics</mat-label>
  <mat-select  [(ngModel)]="selected" (ngModelChange)="changeSelect()">
    <mat-option *ngFor="let metric of metrics" [value]="metric.value">
      {{metric.name}}
    </mat-option>
  </mat-select>
</mat-form-field>
<br>
<div id="tooltip"></div>
<svg id="svg"></svg>
