<h1>Calendar Heatmap</h1>
<div class="container">
  <mat-form-field appearance="fill">
    <mat-label>Years</mat-label>
    <mat-select [(ngModel)]="selectedYears" (ngModelChange)="changeYears()" multiple>
      <mat-option *ngFor="let year of yearsList; let i = index" [value]="i">{{year}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<mat-form-field appearance="fill">
  <mat-label>Metrics</mat-label>
  <mat-select  [(ngModel)]="selected" (ngModelChange)="changeSelect()">
    <mat-option *ngFor="let metric of metrics" [value]="metric.value">
      {{metric.name}}
    </mat-option>
  </mat-select>
</mat-form-field>
<br>
<div id="tooltip"></div>
<svg id="svg"></svg>
