<h2>Matrix Plot</h2>
<div>
  <mat-form-field appearance="fill" class="selector">
    <mat-label>1. Year</mat-label>
    <mat-select [(ngModel)]="year1" (ngModelChange)="changeYear()">
    <mat-option *ngFor="let d of data" [value]="d.key">
      {{d.key}}
    </mat-option>
  </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="selector">
    <mat-label>2. Year</mat-label>
    <mat-select [(ngModel)]="year2" (ngModelChange)="changeYear()">
      <mat-option *ngFor="let d of data" [value]="d.key">
        {{d.key}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="selector">
    <mat-label>Metrics</mat-label>
    <mat-select  [(ngModel)]="selected" (ngModelChange)="changeSelect()">
      <mat-option *ngFor="let metric of metrics" [value]="metric.value">
        {{metric.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="container">
<mat-grid-list cols="6" rowHeight="1:1">
  <mat-grid-tile colspan="1" rowspan="1"></mat-grid-tile>
  <mat-grid-tile colspan="5" rowspan="1" >
    <div class="year">
      <svg id="horizontal"></svg>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="5">
    <div class="year">
      <svg id="vertical"></svg>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="5" rowspan="5">
    <div class = "year">
      <div id="tooltip"></div>
      <svg id="matrix"></svg>
    </div>
  </mat-grid-tile>
</mat-grid-list>
</div>


