mat-grid-tile {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-align: center;
}

.year{
  width: 100%;
  height: 100%;
}

.container{
  width: 100%;
}

.selector {
  margin: 20px;
}
